.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #f8f8f8;
}

.dark {
  background-color: #242526;
  color: #f8f8f8;

  .avatar svg {
    color: black;
  }
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;

  .avatar {
    display: flex;
    align-items: center;
  }

  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    p {
      margin-right: 8px;
      display: flex;
      align-items: center;
    }
  }
}